<div class="parent">
    <div class="head-title">
      <h1><span class="c">Curriculum</span> Vitae</h1></div>
    <div class="header">
      <div class="pic"><img src="https://lh3.googleusercontent.com/hNKS0SrE6w5gcbIKYTVQwzM93yAn5mymuzWOvYamEXsh0sSg-HvpL97ViDmU0KuNdaAB0T44_weInSkTpZW6xxx35b_c8jqBMzAFX82fvHhIPz3YCCc-TKeUzkxxSYZGCTLRz-lyaFfXM9yoMRHpnfiRH00pehPI9bamdXVw2sg6fOmayqNj18nzUXnI3fszZovNcuMwG5GCjihgG7KE3VTqtJnl7BbNWCf46hg1ZaPj85jY9GAzzmlUmlpct4CL1l0aFq5AwaV1FFxxWani9F956VsxjozPjYh8ICZBRPVeathM2EPh1PdM3MU0JmjLidb-j8KE1aUfcc5fYaiSyj7S38GJf0QKv_MpF8WxsQxzrA9zM8Xd9efjCuABZsYPG9m80pCbvukDdR9J3djKZFG8lgh9uXqbl_TfeCARPEZlz8KZggzu1xVP1h0UFpN6thyOE6gj7fWXLZc4zwyV8gHRo76O4INuz-bmcJcVd-sFEtJL__gtdvofmQM505FZp_qSRtMttmxLiWcM8HZvNZZELD13HI0mqUnDHnzcxkRrWWHm2Yd4xzj73a4QbyGnA5oReE12PvG4Z4ycSoTMIfH_zS7M9NRdJoRXlcA5Ss7i4iCd=w681-h966-no"
          alt="" /></div>
      <div class="info">
        <div class="name">Ivan Stamenkovic</div>
        <div class="mail"><b>Email: </b>seemsindie@gmail.com</div>
        <div class="phone"><b>Mobile:</b> +381 65 63 16 988</div>
      </div>
    </div>
    <div class="content">
      <div class="section">
        <h3 class="title">Personal details</h3>
        <div class="item">
          <dl>
            <dt>Birthday</dt>
            <dd>02 March 1994</dd>
            <dt>Nationality</dt>
            <dd>Serbian</dd>
            <dt>Address</dt>
            <dd>Teodosijeva 9, 11000 Belgrade</dd>
          </dl>
        </div>
      </div>
      <div class="section">
        <h3 class="title">Languages spoken</h3>
        <div class="item">
          <dl>
            <dt>Serbian</dt>
            <dd>Native language</dd>
            <dt>English</dt>
            <dd>Talked, technical, spoken</dd>
          </dl>
        </div>
      </div>
      <div class="section">
        <h3 class="title">Education</h3>
        <div class="item">
          <dl>
            <dt>High School</dt>
            <dd>Tehnicka skola Nikola Tesla, Kostolac</dd>
            <dt>Self-taught</dt>
            <dd>Books, tutorials, blogs...</dd>
          </dl>
        </div>
      </div>
      <div class="section">
        <h3 class="title">Experience</h3>
        <div class="item">
          <dl>
            <dt>Freelance (2011-2013)</dt>
            <dd> Mostly doing web development, translations, application development</dd>
            <dt>Lodo (2013-2014)</dt>
            <dd>Working on legacy PHP accounting software, and new version built with RoR</dd>
            <dt>30Hills (2015)</dt>
            <dd>Working with all kind of new technology</dd>
          </dl>
        </div>
      </div>
      <div class="section">
        <h3 class="title">Skills</h3>
        <div class="item">
          <dl>
            <dt>Languages</dt>
            <dd>Javascript(NodeJS), PHP, Ruby, Java</dd>
            <dt>Frameworks</dt>
            <dd>AngularJS, ReactJS, ExpressJS, KoaJS, Symfony 2, Laravel, libGDX</dd>
            <dt>Databases</dt>
            <dd>Redis, MongoDB, MySQL, PostgreSQL, SQLite</dd>
            <dt>Workflow</dt>
            <dd>git, svn, gulp, grunt, webpack, browserify</dd>
            <dt>System</dt>
            <dd>Linux, Windows, Android</dd>
          </dl>
        </div>
      </div>
      <div class="section">
        <h3 class="title">Projects</h3>
        <div class="item">
          <dl>
            <dt>ZeuApp</dt>
            <dd>(2009) - Purpose of this project was to download and install a batch of selected applications. It was popular mostly in Russia. And out first article at lifehacker(<a href="https://goo.gl/rcr0Xh">https://goo.gl/rcr0Xh</a>).
              <br />Languages used: VB6, VB.Net, C#</dd>
            <dt>Tabula Rasa (30Hills)</dt>
            <dd>(2015) - Political simulation game, create your own Switzerland and be a good president. Was developed with AngularJS, NodeJS, MongoDB.
              <br />Tech used: Javascript for API, Javascript for the game, and InsightMaker(custom build) for the model of the game</dd>
            <dt>Zogitech</dt>
            <dd>(2010) - This is an extension to ZeuApp for the web. It would serve as a software marketplace and download center. And it would provide and API for ZeuApp. This project is in paused development.
              <br />Languages used: PHP (Laravel), Javascript(NodeJS)</dd>
            <dt>REC</dt>
            <dd>(2012) - Rec was suppose to be an alternative for Vine but on android.
              <br />Languages used: Java, PHP (Laravel) for API</dd>
            <dt>Subwars</dt>
            <dd>(2013) - This is a website made for team2g.com, for a League of Legends streamer. It allows them to play with their subscribers. Creating teams, voting, invites, forums...
              <br />Languages used: Javascript (NodeJS), Javascript (AngularJS)</dd>
            <dt>VirtualTour (30Hills)</dt>
            <dd>(2015) - This is frame by frame tour of EPDL university in Switzerland. With markers on the way that are interactive. Link to website <a href="http://virtualtour.epfl.ch/#!/">http://virtualtour.epfl.ch/#!/</a>
              <br />Languages used: Javascript (AngularJS), PHP for API</dd>
            <dt>Wine4Me (30Hills)</dt>
            <dd>(2015) - This is a backend service for a iOS mobile application. You say a sentance "I want a cheap wine that goes well with chicken" and service recognize voice and return results. Link to game <a href="http://virtualtour.epfl.ch/#!/">http://virtualtour.epfl.ch/#!/</a>
              <br />Languages used: Ruby for API, Objective-C for app</dd>
            <dt>RichRegister (30Hills)</dt>
            <dd>(2015-present) - A database of rich people with contact information. With search, payment, plans features. <a href="https://richregister.com/">https://richregister.com/</a>
              <br />Languages used: NodeJS for API, Angular 1 for frontend app</dd>
            <dt>SportsKrapet (30Hills)</dt>
            <dd>(2017) - Scratch ticket online gambling service with integration with Zimpler and Miracle. <a href="http://test.sportskrapet.se/">http://sportskrapet.se/</a>
              <br />Languages used: NodeJS for API, Angular 2, ReactJS and Pixi.js for frontend app</dd>
          </dl>
        </div>
        <div class="section">
          <h3 class="title">Personal</h3>
          <div class="item">
            <dl>
              <dt>Strengths</dt>
              <dd>Ambitious, eager to learn, motivated, friendly, team player, persistant</dd>
              <dt>Hobbies</dt>
              <dd>Guitar, animals, stamp collecting, streaming development on livecoding.tv</dd>
            </dl>
          </div>
        </div>
        <div class="section">
          <h3 class="title">Social</h3>
          <div class="item">
            <dl>
              <dt>Twitter</dt>
              <dd><a href="https://twitter.com/seemsindie">@seemsindie</a></dd>
              <dt>Facebook</dt>
              <dd><a href="https://www.facebook.com/seemsindie">https://www.facebook.com/seemsindie</a></dd>
              <dt>Google+</dt>
              <dd><a href="https://plus.google.com/u/0/+IvanStamenkovicSeemsIndie">https://plus.google.com/u/0/+IvanStamenkovicSeemsIndie</a></dd>
              <dt>Twitch.TV</dt>
              <dd><a href="https://www.twitch.tv/ivanstame">https://www.twitch.tv/ivanstame</a></dd>
              <dt>Livecoding.TV</dt>
              <dd><a href="https://www.livecoding.tv/seemsindie/">https://www.livecoding.tv/seemsindie/</a></dd>
            </dl>
          </div>
        </div>
      </div>
  
    </div>
  
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-68317239-1', 'auto');
      ga('send', 'pageview');
    </script>