<nav class="side-menu">
        <h3>Sections</h3>
        <ul class="Sections">
          <li><a href="#">Most Loved</a></li>
          <li><a href="#">Most Hated</a></li>
          <li><a href="#">Popular</a></li>
          <li><a href="#">Latest</a></li>
        </ul>
    
        <h3>Topics</h3>
    
        <ul class="Topics">
          <li><a href="#">Civil Liberties</a></li>
          <li><a href="#">Crime</a></li>
          <li><a class="active" href="#">Education</a></li>
          <li><a href="#">Government</a></li>
          <li><a href="#">Environment</a></li>
          <li><a href="#">Family</a></li>
          <li><a href="#">Instant Karma</a></li>
          <li><a href="#">Justice</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Religion</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Faith</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Police</a></li>
        </ul>
    
        <h3>Qpolitical</h3>
    
        <ul class="qpolitical">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>
    
      </nav>
     
    
      <div class="main-content">
        <nav class="header">
          <a class="burger" href="#"><i class="fa fa-bars"></i></a>
          <h1>Qpolitical</h1>
          <ul class="menu">
            <li><a class="politics" href="#">Politics</a></li>
            <li><a class="polls" href="#">Polls</a></li>
            <li><a class="culture" href="#">Culture</a></li>
            <li><a class="entertainment" href="#">Entertainment</a></li>
            <li><a class="faith" href="#">Faith</a></li>
            <li><a class="crime" href="#">Crime</a></li>
            <li><a class="good-news" href="#">Good News</a></li>
            <li><a class="police" href="#">Police</a></li>
          </ul>
          <ul class="search">
            <form>
              <a href="#" class="fa fa-search"></a>
              <input type="input" placeholder="Search">
            </form>
          </ul>
        </nav>
    
      </div>